@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    padding: 30px;
    background: linear-gradient(#e2b900, #ff019d, #c300ff, #003cff, #000000, #000000, #363636);
}

main {
    padding: 10px 40px 40px 40px;

}

p,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: justify;
}

li {
    margin: 15px;
}

.introducaoSite {
    color: #ffffff;
    text-align: justify;
}

.tituloPrincipal {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 50px rgb(255, 255, 255);
    font-family: 'Rubik Puddles', cursive;
    font-size: xx-large;
}

.subtitulo {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    text-align: justify;
    color: #ffffff;
    text-shadow: 0 0 50px #c300ff;
    width: auto;
}

#metal>.subtitulo {
    text-align: justify;
    color: rgb(212, 0, 0);
    text-shadow: 0 0 50px rgb(212, 0, 0);
    width: auto;
}

#rock>.subtitulo {
    text-align: justify;
    color: rgb(255, 136, 0);
    text-shadow: 0 0 50px rgb(255, 136, 0);
    width: auto;
}

#Funk>.subtitulo {
    text-align: justify;
    color: #ffb514;
    text-shadow: 0 0 50px #ffb514;
    width: auto;
}

#rap>.subtitulo {
    text-align: justify;
    color: #39ff14;
    text-shadow: 0 0 50px #39ff14;
    width: auto;
}

#pop>.subtitulo {
    text-align: justify;
    color: #0084ff;
    text-shadow: 0 0 50px #0084ff;
    width: auto;
}

#indie>.subtitulo {
    text-align: justify;
    color: #fbff00;
    text-shadow: 0 0 50px #fbff00;
    width: auto;
}

.PrincipaisCantores {
    margin-bottom: 40px;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37.5%;
    display: grid;
    grid-template-columns: 50% 50%;
}

article {
    margin-bottom: 30px;
}

header {
    padding-top: 1em;
    margin-bottom: 25px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-inline: 7.5px;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    text-shadow: 1px 1px rgb(124, 124, 124);
    padding-left: 70px;
}

a:hover {
    color: #24ffab;
}

a:active {
    color: rgb(255, 255, 255);
}

img {
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    border: white 3px solid;
    margin: 5%;
}

.imageRight {
    float: right;
}

.imageLeft {
    float: left;
}

nav {
    top: 0;
    right: 0;
    left: 0;
    padding-left: 15%;
    position: fixed;
}

#creditos > h2{
    font-size: 400%;
    color: white;

}